# Python virtual environment
myworld/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# VS Code
.vscode/

# Node / Expo
node_modules/
.expo/
dist/
web-build/